* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: black;
  max-width: 77vw;
  margin: 0 auto;
}

.header {
  grid-area: header;
  text-align: center;
  background-color: rgb(77, 7, 7);
  padding: 1rem;

  h1 {
    color: silver;
  }

  nav {
    color: rgb(124, 91, 8);

    a {
      color: goldenrod;
    }

    #selected {
      color: gold;
    }
  }
}

.image {
  grid-area: image;
  text-align: center;

  img {
    max-width: 100%;
    min-width: 100%;
  }
}

.main {
  grid-area: main;
  background-color: rgb(77, 7, 7);
  padding-right: 1.1rem;
  padding-left: 1.1rem;
  padding-top: 1.0001rem;
  padding-bottom: 1.0001rem;

  a {
    color: goldenrod;
  }

  p {
    color: silver;
  }
}

.footer {
  grid-area: footer;
  background-color: rgb(77, 7, 7);
  text-align: center;
  padding-top: 2rem;

  a {
    color: goldenrod;
  }
}